@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Survey</h1>
    <p class="lead">Description</p>
    <p><a href="survey" class="btn btn-primary btn-large">Fill out survey &raquo;</a></p>
    <p><a href="survey/results" class="btn btn-primary btn-large">View survey results &raquo;</a></p>
</div>